<section id="error-404">
  <div class="row">
    <div class="inner-container" id="error-404-container">
      <h3>Woah dude, calm down.</h3>
      <h3>Gonna 404 now.</h3>
    </div>
  </div>
</section>