<section id="contact">
  <div class="row">
    <div class="inner-container" id="contact-container">
      <h4 class="inner-header">Contact</h4>
      <a href="mailto:me@tonycui.me" class="contact-info"><i class="fa fa-envelope"></i>me@tonycui.me</a><br>
      <a href="https://www.linkedin.com/profile/view?id=101799249" target="_blank" class="contact-info"><i class="fa fa-linkedin-square"></i>Tony Cui</a><br>
      <a href="https://twitter.com/tuocui" class="contact-info" target="_blank"><i class="fa fa-twitter"></i>@tuocui</a><br>
      <p class="contact-info"><i class="fa fa-phone"></i>(1).226.278.6354</p><br>
    </div>
  </div>
</section>