<section id="index">
  <div class="row">
    <div class="inner-container" id="index-container">
      <h4 class="inner-header">Tony Cui</h4>
      <div class="content-container">
        <div class="col-md-6" id="photo">
          <img src="http://placehold.it/350x450">
        </div>
        <div class="col-md-6" id="blurb">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum imperdiet nisl non consequat. Sed feugiat iaculis libero, eget viverra lorem feugiat id. Fusce condimentum eget mi et sagittis. Curabitur sem neque, mattis vestibulum ornare ac, rhoncus ac libero. Proin non vehicula arcu. In semper nunc at suscipit pretium. Nulla facilisi. Aliquam egestas mi libero. Ut aliquam erat nec ullamcorper viverra. Ut congue sodales molestie. Curabitur in viverra metus, viverra hendrerit lectus.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>