<section id="index">
  <div class="row">
    <div class="inner-container" id="index-container">
      <h4 class="inner-header">Tony Cui</h4>
      <div class="content-container">
        <div class="col-md-6" id="photo">
          <%= image_tag("me.jpg", class: "photo-me") %>
        </div>
        <div class="col-md-6" id="blurb">
          <p>
            Hello. I'm Tony Cui - programmer, student, hobbyist.
          </p>
          <p>
            By day, I'm usually plugging away at some sort of code. Whether that's for school, work, or personal depends on which part of the four-month cycle that (nearly) all University of Waterloo students find themselves in.
          </p>
          <p>
            By night, I'm currently doing the following:
            <ul>
              <li>
                learning how to not embarass myself at tennis.
              </li>
              <li>
                wasting my time playing video games and watching TV, like any other person in their early 20's.
              </li>
              <li>
                enjoying how surprisingly nice Austin, TX is.
              </li>
              <li>
                waiting for the summer so I have a chance to go camping/hiking.
              </li>
            </ul>
          </p>
          <!--<p>
            Here's my <a href="https://github.com/tuocui">Github</a> and <a href="/resume">resume</a> if that's what you're here for.
          </p> OH NO, YOU FOUND OUT THAT I HAVEN'T DONE MY RESUME YET -->
          <p>
            Oh, and I also co-founded an ed-tech startup called <a href="http://www.vetica.com/">Vetica</a>. Go check them out.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>