<section id="resume">
  <div class="row">
    <div class="inner-container" id="resume-container">
      <h4 class="inner-header">Tony Cui</h4>
      <div class="resume-section">
        <h5>Contact</h5>
        <p>38 Columbia Street West</p>
        <p>N2L 3K5</p>
        <p>Waterloo, ON, Canada</p>
        <p>me@tonycui.me</p> 
        <p>226.789.6354</p>
      </div>
      <div class="resume-section">
        <h5>Skills</h5>
        <ul id="skills">
          <li>Ruby, Ruby on Rails, C++, jQuery, HTML5, CSS3, mySQL, PostgreSQL proficiency</li>
          <li>C#, Java, backbone.js, Python familiarity</li>
          <li>Amazon Web Services development/deployment skills</li>
          <li>Relational database design, implementation, and maintenance</li>
          <li>Automated deployment knowledge through Puppet, Vagrant, Docker</li>
          <li>Full stack development experience</li>
          <li>Strong and passionate learner</li>
          <li>Team leadership</li>
          <li>Communication to clients, co-workers, and employees</li>
        </ul>
      </div>
      <div class="resume-section">
        <h5>Experience</h5>
          <div class="experience-section">
            <h6><strong>Software Engineer</strong>, <a href="http://www.bazaarvoice.com/">Bazaarvoice Inc</a>, Austin, TX, USA, January/2014 – April/2014</h6>
            <ul>
              <li>Created an operations management/audit tool, Nexus Dash, which allows developers to manage their Amazon Web Services (AWS) stacks, and provides information/metrics on the entire deployment process 
              </li>
              <li>Designed and fully implemented both web and API interfaces for Nexus Dash</li>
              <li>Modified and automated the Data Services team's deployment workflow through AWS, reducing the amount of human interaction needed to a single click</li>
              <li>Collaborated in the design of a deployment workflow that would ultimately lead to cutting deployment time down from 4 hours to 20 minutes</li>
              <li>Developed a web application and marketing tool, Pinpoint, during a BVIO hackathon that allows vendors to see aggregated ratings/reviews data across a geographical region</li>
            </ul>
          </div>
          <div class="experience-section">
            <h6><strong>Co-Founder/VP Engineering</strong>, <a href="http://vetica.com">Vetica Interactive Inc</a>, Kitchener, ON, January/2011 – November/2013</h6>
            <ul>
              <li>Co-founded Vetica Interactive Inc. whose first product <a href="http://planboardapp.com">Planboard</a>, is an online lesson planning platform for K-12 teachers, and is still growing</li>
              <li>Led a team of 4 engineers to create, update, and maintain Planboard</li>
              <li>Became the primary engineer for numerous areas including: API, database, billing, metrics, testing, web markup and styling</li>
              <li>Worked frequently with all aspects of the application as a full stack engineer</li>
              <li>Responsible as the primary contact for engineering related issues from customers and clients</li>
              <li>Presented ideas across the continent to various audiences (Y Combinator, Lightspeed Ventures, Velocity, investors, peers, etc)</li>
              <li>Formulated engineering roadmaps and contributed to both product and overall company decisions</li>
            </ul>
          </div>
          <div class="experience-section">
            <h6><strong>Software Engineer</strong>, <a href="http://www.augsignals.com">A.U.G. Systems Ltd.</a>, Toronto, ON, May/2012 – August/2012</h6>
            <ul>
              <li>Designed, and implemented a centralized database that had to service over 2 million data points per month</li>
              <li>Developed reporting systems and implemented algorithms to process data from custom water contamination sensors</li> 
              <li>Designed, created, and implemented the user facing systems to the TRITON intelligent water surveillance system</li>
              <li>Ported existing codebase from C# to Java</li>
              <li>Refactored the majority of the sensors’ codebase fixing crucial bugs and improving performance</li>
            </ul>
          </div>
          <div class="experience-section">
            <h6><strong>Developer</strong>, <a href="http://wealthserv.com/">BlueSun Inc.</a>, Burlington, ON, September/2011 – December/2011</h6>
            <ul>
              <li>Produced the data importing, processing and exporting Transact-SQL scripts for a new client</li>
              <li>Worked closely with a large client to deliver reports and analytics using their data</li>
              <li>Troubleshot and made additional upgrades to an ASP.net and F# web application</li>
              <li>Created, updated, monitored, and maintained existing Transact-SQL jobs and scripts</li>
              <li>Trained and managed a new company hire</li>
            </ul>
          </div>
      </div>
      <div class="resume-section">
        <h5>Education</h5>
        <h6><strong>Candidate for Bachelor’s of Computer Science</strong></h6>
        <ul>
          <li>University of Waterloo, Waterloo, Ontario, September/2010 – present</li>
          <li>Expected date of completion: April/2015</li>
        </ul>
      </div>
      <div class="resume-section">
        <h5>Interests</h5>
        <ul>
          <li>Data analytics - specifically, metrics on user behaviour</li>
          <li>Database design and performance</li>
          <li>Texas Hold'em poker, tennis, squash, camping</li>
          <li>Browsing the web for the latest technological news - avid reader of <a href="https://news.ycombinator.com/">Hacker News</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>