<section id="thoughts">
  <div class="row">
    <div class="inner-container" id="thoughts-container">
      <h4 class="inner-header">Thoughts</h4>
      <div class="post">
        <% if @post.nil? %>
          <p>Hmm, I guess I'm not thinking about much yet. Maybe you should bug me to put something here.</p>
        <% else %>
          <h6><%= @post.title %></h6>
          <p class="post-date"><%= @post.created_at.strftime("%b %d, %Y") %></p>
          <section class="post-body">
            <%= raw @post.content %>
          </section>
        <% end %>
      </div>
    </div>
  </div>
</section>