<section id="thoughts">
  <div class="row">
    <div class="inner-container" id="thoughts-container">
      <h4 class="inner-header">Thoughts</h4>
      <div class="post">
        <p>Hmm, I guess I'm not thinking about much yet. Maybe you should bug me to put something here.</p>
      </div>
    </div>
  </div>
</section>