#contact {
  #contact-container {
    width: 200px;
    text-align: center;
    .inner-header {
      margin-bottom: 50px;
    }
    .contact-info {
      font-size: 17px;
      display: block;
      line-height: 50px;
      i {
        margin-right: 25px;
        margin-top: 16px;
        float: left;
      }
    }
    p {
      color: #b0b0b0;
    }
  }
}