.navbar {
	border: none !important;
	height: 65px;
	.navbar-inner {
		height: 65px;
		#name-container {
			padding: 0;
			height: 65px;
			border-bottom: solid 1px #006edd;
			position: relative;
			float: left;
			background: #0876e1;
			.name {
				padding: 22px 75% 21px 25%;
				font-size: 15px;
				text-transform: uppercase;
				color: #70b6ff;
				&:hover {
					color: #fff;
				}
			}
		}
		#main-nav {
			padding: 0;
			float: left;
			position: relative;
			height: 65px;
			background: #2e537b;
			display: block;
			border-bottom: solid 1px #143f6b;
			@include box-shadow(-1px 0px 2px #143f6b);
			#nav-title {
				color: #70b6ff;
				padding: 23px 85% 20px 15%;
				font-size: 15px;
				text-transform: uppercase;
				line-height: 65px;
				i {
					margin-right: 5px;
				}
			}
		}
	}
}