#index {
  p {
    margin: 0 0 15px;
  }
  #blurb {
    font-size: 15px;
    padding: 10px 20px;
    text-align: justify;
    ul {
      text-align: left;
    }
  }
  #photo {
    .photo-me {
      height: 400px;
      @include border-radius(3px);
    }
  }
}