

body {
	font-family: Permiansanstypefaceregular, sans-serif;
  height: 100%;
}

a {
	text-decoration: none;
	display: block;
	&:hover {
		text-decoration: none !important;
	}
}

#main-container {
	padding-top: 65px;
	min-height: 100%;
	background: #E2E9F0;
	#content-container {
		left: 16.666666666666%;
	}
	.inner-container {
		padding: 50px 16%;
		color: #2e537b;
		.inner-header{
			text-transform: uppercase;
			padding-bottom: 35px;
			border-bottom: 1px dotted #B5C5CE;
		}
	}
}

html { 
    height:100%;
}