body {
	font-family: Permiansanstypefaceregular, sans-serif;
  height: 100%;
	background: url("/assets/background.png") repeat #f7f7f7;
}

a {
	text-decoration: none;
	display: block;
	&:hover {
		text-decoration: none !important;
	}
}

#main-container {
	padding-top: 150px;
	min-height: 100%;
	#content-container {
		left: 16.666666666666%;
	}
	.inner-container {
		padding: 50px 16%;
		color: #5d5d5d;
		width: 900px;
		margin: 0 auto;
		text-align: center;
		.inner-header{
			text-transform: uppercase;
			padding-bottom: 35px;
		}
	}
}

html { 
    height:100%;
}