body {
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
    height: 100%;
}

a {
	text-decoration: none;
	display: block;
	&:hover {
		text-decoration: none !important;
	}
}

#main-container {
	margin-top: 68px;
	min-height: 100%;
}

html { 
    height:100%;
}