#sidebar-container {
	padding: 65px 0 0 0;
	bottom: 0;
	top: 0;
	position: fixed;
	min-height: 100%;
	.options {
		list-style: none;
		min-height: 100%;
		background: #f3f3f3;
		padding: 0;
		.option {
			height: 65px;
			text-transform: uppercase;
			a {
				color: #cbcbcb;
				height: 100%;
				padding: 22px 0 0 15%;
				&:hover {
					color: #909090;
				}
				i {
					margin-right: 6%;
				}
				.fa-comment {
					margin-right: 5%;
				}
			}
			&.active {
				a {
					color: #909090;
				}
			}
		}
	}
}