#thoughts {
  #thoughts-container {
    text-align: justify;
    font-size: 17px;
    .post {
      margin-top: 40px;
      h6 {
        font-size: 23px;
      }
      .post-date {
        font-size: 13px;
        color: #b0b0b0;
      }
      .post-body {
        margin-top: 25px;
        font-size: 15px;
      }
    }
  }
}