<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="navbar-inner">
		<div id="name-container" class="col-md-1">
			<a class="name" href="/">Tony</a>
		</div>
		<div id="main-nav" class="col-md-11">
			<span id="nav-title">
				<i class="fa fa-user"></i>
				About
			</span>
		</div>
	</div>
</nav>