<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="navbar-inner">
		<div id="name-container" class="col-md-2">
			<a class="name" href="/">Tony</a>
		</div>
		<div id="main-nav" class="col-md-10">
			<span id="nav-title">
				<i class="fa fa-<%= @header_icon %>"></i>
				<%= @header_text %>
			</span>
		</div>
	</div>
</nav>