<nav class="navbar navbar-inverse navbar-default" role="navigation">
	<ul class="options">
		<li class="option welcome <%= @welcome_active %>">
			<a href="/"><i class="fa fa-plane"></i>Tony</a>
		</li>
		<li class="option thoughts <%= @thoughts_active %>">
			<a href="/thoughts"><i class="fa fa-comment"></i>Thoughts</a>
		</li>
		<li class="option contact <%= @contact_active %>">
			<a href="/contact"><i class="fa fa-phone"></i>Contact</a>
		</li>
	</ul>
</nav>
<div class="horizontal-rule"></div>